body {
    background-color: white;
    max-width: 100%;
}

#news-container {
    border: 1px solid grey;
    border-radius: 10px;
}

#date-container {
    text-align: right;
}

.list-group > li.active {
    border-color: black;
    background-color: #6c757d;
}

#statistics {
    display: none;
}
/* .active {
    border-color: black;
    background-color: #6c757d;
} */